In [3]:
import numpy as np
import pandas as pd

In [2]:
def get_invalid_data(clss, data):
    if clss == 'A':
        temp = data[data['S'] > 0.1] # S
        temp = temp[temp['AspectRatio'] > 5] # AspectRatio
    elif clss == 'B':
        temp = data[data['S'] < 0.1] # S
        temp = temp[temp['AspectRatio'] < 5] # AspectRatio
    elif clss == 'C':
        temp = data[data['S'] < 0.1] # S
        temp = temp[temp['AspectRatio'] >= 5] # AspectRatio
    elif clss == 'D':
        temp = data[data['S'] < 0.1] # S
        temp = temp[temp['AspectRatio'] < 5] # AspectRatio
    elif clss == 'Ds':
        temp = data[data['S'] > 0.02] # S
        temp = temp[temp['AspectRatio'] < 5] # AspectRatio
    else:
        return None

In [27]:
values1 = {'A': [37,127,261,436,649,898,1181,1498,1898,2230],
          'B': [17.2,76.8,184.2,342.7,554.7,822.2,1147,1530,1973,2476],
          'C': [17.8,75.6,176,320.5,510.3,746.1,1029,1359,1737,2163],
          'D': [1,2,4,9,16,25,36,49,81,100],
          'Ds': [13,19,27,38,53,76,107,151,214,303],
         }
rows1 = [0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0]
levels = pd.DataFrame(values1, index=rows1)
levels

        A       B       C    D   Ds
0.5    37    17.2    17.8    1   13
1.0   127    76.8    75.6    2   19
1.5   261   184.2   176.0    4   27
2.0   436   342.7   320.5    9   38
2.5   649   554.7   510.3   16   53
3.0   898   822.2   746.1   25   76
3.5  1181  1147.0  1029.0   36  107
4.0  1498  1530.0  1359.0   49  151
4.5  1898  1973.0  1737.0   81  214
5.0  2230  2476.0  2163.0  100  303

In [28]:
values2 = {'A': [2,4,12], # Dperp
          'B': [2,9,15],
          'C': [2,7,12],
          'D': [2,8,13]
         }
rows2 = ['thick', 'thin', 'oversized']
sets = pd.DataFrame(values2, index=rows2)
sets

            A   B   C   D
thick       2   2   2   2
thin        4   9   7   8
oversized  12  15  12  13

array([0.9867028 , 0.6990901 , 0.65363679])